<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RPG Backend Engine | Reload</title>
</head>
<body>
    <div>
        <h1>Reloading...</h1>
        <p>You will be redirected to '/' in: <span id="seconds">3</span> seconds</p>
    </div>
    <script>
        var secondsEl = document.getElementById('seconds');
        var currentSeconds = 3;

        setInterval(function() {
            currentSeconds--;
            secondsEl.innerHTML  = currentSeconds;

            if (currentSeconds === 0) {
                window.location.href = '/';
            }
        }, 1000)
    </script>
</body>
</html>